<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/cssFiles/style.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/Script/script.js"></script>
</head>
<body>
    <!-- <h3>Customers</h3>
    <form method="post" action="/customer/add">
        <input type="text" name="name" placeholder="Add Name">
        <input type="text" name="email" placeholder="Add Email">
        <input type="submit" value="Submit">
    </form>
    <h3>Customers</h3>
    <ul>
    <% customers.forEach(function(customer){ %>
        <li>
            <h4><%= customer.value.name %></h4>
            <%= customer.value.email %>
            <form method="post" action="/customer/delete/<%= customer.key %>">
            <input type="hidden" value="<%= customer.value.rev %>" name="rev">
            <input type="submit" value="X">
            </form>
        </li>
    <% }); %>
    </ul>
    <h1 align="center"><br />Welcome!<br /></h1>
    <h4 align="center"><br />Please select:<br /></h4>
    <br /><br />
    <div class="container">
        <div class="row">
            <div align="center" class="span4">
                <a href="map" class="btn btn-success">Emotion Changes</a>
                <br /><br />
                <a href="/HTML/Sports_Emotion.html" class="btn btn-warning">Sports and Emotion</a>
                <br /><br />
                <a href="/HTML/Coordinate_Distribute.html" class="btn btn-info">Coordinates</a>
                <br /><br />
            </div>
        </div>
    </div> -->

    
    <div class = "container">
        <br/>
        <div>

            <!-- <ul class="nav nav-pills">
                <li><a data-toggle="pill" href="#map1">Emotion</a></li>
                <li><a data-toggle="pill" href="#map2">Sports</a></li>
                <li><a data-toggle="pill" href="#map3">Coordinates</a></li>
            </ul> -->

            <!-- <div class="tab-content">
                <div id="map1" class="tab-pane fade in active">
                    <div align="center" class="span4">
                      <div id="map-canvas"></div>
                    </div>
                    <br/>
                </div>
                <div id="map2" class="tab-pane fade">
                    <div align="center" class="span4">
                      <div id="map-canvas1"></div>
                    </div>
                    <br/>
                </div>
                <div id="map3" class="tab-pane fade">
                    <div align="center" class="span4">
                      <div id="map-canvas2"></div>
                    </div>
                    <br/>
                </div>
            </div> -->
            <div id="content">
                <button type="button" class="btn btn-success" data-toggle="collapse" data-target="#map1">
                    Coordinates
                </button>
            </div>

            <div id="map1" class="collapse in">
                <div align="center" class="span4">
                    <div id="map-canvas"></div>
                    <br/>
                </div>
            </div>

            <div id="content">
                <button type="button" class="btn btn-warning" data-toggle="collapse" data-target="#map2">
                    Emotion
                </button>
            </div>
            
            <div id="map2" class="collapse in">
                <div align="center" class="span4">
                    <div id="map-canvas1"></div>
                    <br/>
                </div>
            </div>
            <div id="content">
                <button type="button" class="btn btn-info" data-toggle="collapse" data-target="#map3">
                    Sports
                </button>
            </div>

            <div id="map3" class="collapse in">
                <div align="center" class="span4">
                    <div id="map-canvas2"></div>
                    <br/>
                </div>
            </div>

            <script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
            <script src="/Script/List.js"></script>
            <script src="/Script/Mapster.js"></script>
            <script src="/Script/map-options.js"></script>
            <script src="/Script/script.js"></script>
        </div>
    </div>


</div>
    
</body>
</html>