<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Welcome!</title>
    <link rel="stylesheet" href="/cssFiles/style.css">
    <link rel="stylesheet" href="/cssFiles/stylish-portfolio.css" />
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    
</head>
<body>
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand" href="/">AuCityAnalytics</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/app1">App 1</a></li>
              <li><a href="/app2">App 2</a></li>
              <li><a href="/app3">App 3</a></li>
            </ul>
          </div>
        </nav>
    <div class="header">
        <div class="text-vertical-center">
            <h1>Welcome!</h1>
            <h3>Please select one app:</h3>
            <br><br><br>
            <a href="app1" class="btn btn-dark btn-lg">Happiness Level and Emotion Variation</a>
            <br><br>
            <a href="app2" class="btn btn-dark btn-lg">Language Distribution in Melbourne</a>
            <br><br>
            <a href="app3" class="btn btn-dark btn-lg">Customer Satisfaction of Airline</a>
            <br><br>
        </div>
    </div>
</body>
</html>