html {
  height: 100%;
}
body{
  background: url(/Img/bg.jpg) fixed center;
  background-size: cover;
  background-color: rgba(0,0,0,0.5);
  height: 100%;
  width: 100%;
  border-width: 0;
  padding-left: 0;
  padding-right: 0;
  margin: 0;
}
.container-border{
  padding-right: 0;
  padding-left: 0;
  margin-right: 0;
  margin-left: 0;
}
#map-canvas {
  width: 550px;
  height: 500px;
  background-color: grey;
}
#map-canvas1 {
  width: 600px;
  height: 500px;
  background-color: grey;
}
#map-canvas2 {
  width: 600px;
  height: 400px;
  background-color: grey;
}
#content {
  padding-left: 150px;
  margin: 20px;
}
.img {
  width: 500px;
  height: 500px;
}
.img1 {
  width: 100px;
  height: 100px;
}